services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: pizza_bot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: